<li class={{if @todo.isCompleted "completed"}}>
  <div class="view">
    <input
      id="toggle-{{@todo.id}}"
      class="toggle"
      type="checkbox"
      checked={{@todo.isCompleted}}
      {{on "change" (fn this.todos.toggleCompletion @todo)}}
    />
    <label for="toggle-{{@todo.id}}">{{@todo.text}}</label>
    <button type="button" class="destroy" title="Remove this todo"></button>
  </div>

  <label for="edit-{{@todo.id}}" class="visually-hidden">Edit todo</label>
  <input id="edit-{{@todo.id}}" class="edit" value="Todo Text" />
</li>